<div class="hero-container">
    <div class="header">
        <h1>Everything you need to plan your event</h1>
        <p>Search over 75,000 local professionals with reviews, pricing, and more.</p>
        <form class="search-form">
            <div class="search-form-container" style="border-right: none;">
                <input type="text" name="vendor" style="min-width: 300px;" placeholder="Search vendor category or name" #searchTerm
                    autocomplete="off">
            </div>

            <div class="search-form-container" style="border-top-left-radius: 0%; border-bottom-left-radius: 0%;">
                <input type="text" name="location" placeholder="Location" #locationTerm autocomplete="off">
            </div>
            <button type="submit">Find</button>
        </form>
    </div>
    <div class="image-bg">
        <div class="overlay"></div>
    </div>
</div>