<div class="event-card pb-4">
    <span class="premium-tag">PREMIUM</span>
    <div>
        <img src="\venue.webp" alt="Venue image">
    </div>
    <div class="event-card-details">
        <span class="event-card-title">Giant Events India LLP</span>

        <div class="event-card-subtitle">
            <div>
                <span class="event-rating"><i class="bi bi-star rating-logo"></i>4.2 (5)</span>
            </div>
            <span class="event-location">
                <span class="">&nbsp;·&nbsp;</span>
                Fort Kochi, Kochi
            </span>
        </div>
        <span class="event-package-details">From ₹50,000</span>

        <!-- Additional data fields -->
        <div class="event-card-field">
            <span class="event-field-label">Organizer : </span>
            <span class="event-field-value">John Doe</span>
        </div>
    </div>
</div>