<!-- Card Section -->
<div class=""><!-- Card -->
    <div class="bg-transparent rounded-xl shadow p-4 sm:p-7">
        <div class="mb-8">
            <h2 class="text-xl font-bold text-gray-800">
                One Last Step!
            </h2>
            <p class="text-sm text-gray-600">
                Add your wedding details for easy, enjoyable planning
            </p>
        </div>

        <form [formGroup]="onboardingForm" (ngSubmit)="onSubmit()">
            <!-- Grid -->
            <div class="grid sm:grid-cols-12 gap-2 sm:gap-6">

                <h3 class="sm:col-span-12 text-black font-semibold text-lg"> About Us</h3>

                <div class="sm:col-span-2">
                    <label for="groom-name" class="inline-block text-sm text-gray-800 mt-2.5">
                        Groom name
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-4">
                    <div class="sm:flex">
                        <input id="groom-name" type="text" formControlName="groomName"
                            class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                            placeholder="John">
                    </div>
                    <div *ngIf="onboardingForm.get('groomName')?.invalid && onboardingForm.get('groomName')?.touched"
                        class="text-red-500 text-sm col-span-full">
                        Groom name is required.
                    </div>
                </div>
                <!-- End Col -->


                <div class="sm:col-span-2 ml-6">
                    <label for="bride-name" class="inline-block text-sm text-gray-800 mt-2.5">
                        Bride name
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-4">
                    <div class="sm:flex">
                        <input id="bride-name" type="text" formControlName="brideName"
                            class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                            placeholder="Maria">
                    </div>
                    <div *ngIf="onboardingForm.get('brideName')?.invalid && onboardingForm.get('brideName')?.touched"
                        class="text-red-500 text-sm">
                        Bride name is required.
                    </div>
                </div>
                <!-- End Col -->

                <h3 class="sm:col-span-12 text-black font-semibold mt-8 text-lg">Wedding Details</h3>

                <div class="sm:col-span-2">
                    <label for="guest-count" class="inline-block text-sm text-gray-800 mt-2.5">
                        Number of Guests
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-4">
                    <input id="guest-count" type="text" formControlName="guestCount"
                        class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm text-sm rounded-lg focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                        placeholder="300">
                    <div *ngIf="onboardingForm.get('guestCount')?.invalid && onboardingForm.get('guestCount')?.touched"
                        class="text-red-500 text-sm">
                        Number of guests is required.
                    </div>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-2 ml-6">
                    <label for="budget" class="inline-block text-sm text-gray-800 mt-2.5">
                        Estimated Budget
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-4">
                    <input id="budget" type="text" formControlName="budget"
                        class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                        placeholder="">
                </div>
                <!-- End Col -->

                <div class="sm:col-span-2">
                    <label for="city" class="inline-block text-sm text-gray-800 mt-2.5">
                        City/Town
                    </label>
                </div>
                <!-- End Col -->

                <div class="sm:col-span-4">
                    <input id="city" type="text" formControlName="city"
                        class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                        placeholder="">
                </div>

                <div class="sm:col-span-2 ml-6">
                    <label for="country" class="inline-block text-sm text-gray-800 mt-2.5">
                        Country
                    </label>
                </div>

                <div class="sm:col-span-4">
                    <input id="country" type="text" formControlName="country"
                        class="py-2 px-3 pe-11 block w-full border-gray-200 shadow-sm rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none"
                        placeholder="">
                </div>
                <!-- End Col -->

                <h3 class="sm:col-span-12 text-black font-semibold mt-8 text-lg">Services</h3>
                <div class="col-span-full grid sm:grid-cols-12 gap-2 sm:gap-6" formGroupName="services">
                    <div class="sm:col-span-3 mt-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" formControlName="photography" class="form-checkbox text-blue-600">
                            <span class="ml-2 text-gray-800">Photography</span>
                        </label>
                    </div>
                    <div class="sm:col-span-3 mt-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" formControlName="catering" class="form-checkbox text-blue-600">
                            <span class="ml-2 text-gray-800">Catering</span>
                        </label>
                    </div>
                    <div class="sm:col-span-3 mt-2">
                        <label class="inline-flex items-center">
                            <input type="checkbox" formControlName="venue" class="form-checkbox text-blue-600">
                            <span class="ml-2 text-gray-800">Venue</span>
                        </label>
                    </div>
                </div>
            </div>
            <!-- End Grid -->

            <div class="mt-5 flex justify-end gap-x-2">
                <button type="submit"
                    class="py-2 px-3 inline-flex items-center gap-x-2 text-sm font-medium rounded-lg border border-transparent bg-blue-600 text-white hover:bg-blue-700 focus:outline-none focus:bg-blue-700 disabled:opacity-50 disabled:pointer-events-none"
                    [disabled]="onboardingForm.invalid">
                    Save changes
                </button>
            </div>
        </form>
    </div>
    <!-- End Card -->
</div>
<!-- End Card Section -->