@if (wedding) {
<div class="container mx-auto">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-9 gap-6 p-4">
        <div class="bg-white rounded-lg border lg:col-span-3">
            <p id="countdown" class="text-2xl"></p>
            <div class="rounded-lg overflow-hidden h-full">
                <div class="flex flex-col md:flex-row max-lg:flex-wrap items-center h-full">
                    <div class="p-4">
                        @if (loading) {
                        <ng-icon class="animate-spin" name="featherLoader" />
                        } @else {
                        <h2 class="text-lg xl:text-nowrap font-semibold mb-4 w-full">{{wedding.name}}</h2>
                        <p class="text-gray-600 mb-4 w-full xl:text-nowrap">{{getWeddingDate()}}</p>
                        <dl class="grid grid-cols-4 gap-12 text-center">
                            <div>
                                <dt class="text-sm font-medium text-gray-500">days</dt>
                                <dd class="text-lg font-semibold">{{countdown.days}}</dd>
                            </div>
                            <div>
                                <dt class="text-sm font-medium text-gray-500">hours</dt>
                                <dd class="text-lg font-semibold">{{countdown.hours}}</dd>
                            </div>
                            <div>
                                <dt class="text-sm font-medium text-gray-500">min</dt>
                                <dd class="text-lg font-semibold">{{countdown.minutes}}</dd>
                            </div>
                            <div>
                                <dt class="text-sm font-medium text-gray-500">s</dt>
                                <dd class="text-lg font-semibold">{{countdown.seconds}}</dd>
                            </div>
                        </dl>
                        }
                    </div>
                    <div class="hidden 2xl:flex justify-center items-center w-full">
                        <a>
                            <img src="/bg_dash-cover.jpg" alt="John" class="max-w-32 max-h-32 w-full rounded-lg">
                        </a>
                    </div>
                </div>
            </div>

        </div>
        <div class="bg-white p-6 rounded-lg border lg:col-span-2">
            <img class="size-12" src="/icons/notebook.svg" alt="">
            @if (loading) {
            <ng-icon class="animate-spin" name="featherLoader" />
            } @else {
            <p class="font-bold mt-2">{{ wedding.services.length + " of 3" }}</p>
            }
            <h2 class="">Services Registered</h2>
        </div>
        <div class="bg-white p-6 rounded-lg border lg:col-span-2">
            <img class="size-12" src="/icons/guest.svg" alt="">
            <p class="font-bold mt-2">3 of 4</p>
            <h2 class="">Guests Attending</h2>
        </div>
        <div class="bg-white p-6 rounded-lg border lg:col-span-2">
            <img class="size-12" src="/icons/calculator.svg" alt="">
            <p class="font-bold mt-2">₹{{getTotalBudget()}}</p>
            <h2 class="">Budget Spent</h2>
        </div>
    </div>
    <div class="grid grid-cols-1 xl:grid-cols-3 justify-items-center gap-y-12">
        <div class="col-span-1 xl:col-span-2 w-full">
            <app-expense-table [expenses]="expenses" />
        </div>
        @if (expenses.length > 0) {
        <div class="col-span-1 border p-4 rounded-lg">
            <p-chart type="doughnut" [data]="data" class="max-w-sm block" />
            <h2 class="text-center mt-3 font-medium uppercase">Budget Breakdown</h2>
        </div>
        }
    </div>
</div>
}